<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
    <link rel="stylesheet" href="/css/forgot.css">
</head>
<body>
    <div class="logo">
        <img src="/image/amslogo.png" alt="amshuhu" width="80px" height="80px">
    </div>
    <div class="container">
        <div class="heading">
            <h2>FORGOT PASSWORD</h2>
        </div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <form action="/auth/forgot" method="post">
        <div class="resetform">
            <label for="#">Emailid</label>
            <input type="email" name="email" placeholder="enter email" id="emailidforgot">
        
        </div>
        <div class="resetform">
            <label for="#">New password</label>
            <input type="password" name="newpass" placeholder="enter new password" id="newpassword">
            
        </div>
        <div class="resetform">
            <label for="#">confirm password</label>
            <input type="password" name="confirmpass" placeholder="Re-enter password" id="confirmnewpassword">
        </div>  
        <button class="resetbutton" type="submit">Submit</button>
        <span class="newuser">Remember?<a href="/">login now</a></span>
        </form>
    </div>
</body>
</html>